<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.ustra.framework2.sample.file.FileMapper">

	<select id="select" resultType="com.gsitm.ustra.java.data.file.model.FileMetaData">
		SELECT FILE_NM AS FILE_NAME
			  ,SV_PATH AS FILE_PATH
			  ,FILE_FMT_CONT AS FILE_EXT
			  ,FILE_SZ AS FILE_SIZE
			  ,ORG_FILE_NM AS ORG_NAME
			  ,FILE_FMT_CONT AS ORG_EXT
			  ,FILE_SZ AS ORG_SIZE
			  ,FILE_ID
			  ,FILE_NO
		  FROM FILES
		 WHERE FILE_ID = #{fileId}
		 <if test="fileNos != null and fileNos.size() != 0"  >
			AND FILE_NO  IN
			<foreach collection="fileNos" item="fileNo" open="(" close=")" separator=",">
				 #{fileNo}
			</foreach>
			</if>
	</select>

	<insert id="insert">
		INSERT INTO FILES (
			FILE_ID,
			FILE_NO,
			FILE_GRP_ID,
			FILE_NM,
			ORG_FILE_NM,
			FILE_FMT_CONT,
			SV_PATH,
			FILE_SZ
		) VALUES (
			#{fileId},
			#{fileNo},
			#{fileGrpId},
			#{fileName},
			#{orgName},
			#{fileExt},
			#{filePath},
			#{fileSize}
		)
	</insert>

	<delete id="delete">
		DELETE FILES
		 WHERE FILE_ID = #{fileId}
		 <if test="fileNo != null"  >
		   AND FILE_NO = #{fileNo}
		 </if>
	</delete>
</mapper>